Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

GStreamer
MediaPipe4U
MediaPipe4UBVH
MediaPipe4UGStreamer
MediaPipe4ULiveLink
MediaPipe4UNvAR
MediaPipe4USpeech
SPCRJointDynamics
